<div class="slider-container">
    <ul class="controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
        <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
            <i class="fas fa-angle-left fa-5x"></i>
        </li>
        <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
            <i class="fas fa-angle-right fa-5x"></i>          
        </li>
    </ul>

    <div class="my-slider">

        <div class="slider-item">
            <div class="slider-card">
                <img class="slider-card-img" src="<%= randomTitles[0].url %>"/>
                <p class="slider-title"><%= randomTitles[0].title %></p>
                <button class="btn donate-btn">Donate!</button>
            </div>
        </div>
        
        <div class="slider-item">
            <div class="slider-card">
                <img class="slider-card-img" src="<%= randomTitles[1].url %>"/>
                <p class="slider-title"><%= randomTitles[1].title %></p>
                <button class="btn donate-btn">Donate!</button>
            </div>
        </div>
        
        <div class="slider-item">
            <div class="slider-card">
                <img class="slider-card-img" src="<%= randomTitles[2].url %>"/>
                <p class="slider-title"><%= randomTitles[2].title %></p>
                <button class="btn donate-btn">Donate!</button>
            </div>
        </div>

        <div class="slider-item">
            <div class="slider-card">
                <img class="slider-card-img" src="<%= randomTitles[3].url %>"/>
                <p class="slider-title"><%= randomTitles[3].title %></p>
                <button class="btn donate-btn">Donate!</button>
            </div>
        </div>

        <div class="slider-item">
            <div class="slider-card">
                <img class="slider-card-img" src="<%= randomTitles[4].url %>"/>
                <p class="slider-title"><%= randomTitles[4].title %></p>
                <button class="btn donate-btn">Donate!</button>
            </div>
        </div>

        <div class="slider-item">
            <div class="slider-card">
                <img class="slider-card-img" src="<%= randomTitles[5].url %>"/>
                <p class="slider-title"><%= randomTitles[5].title %></p>
                <button class="btn donate-btn">Donate!</button>
            </div>
        </div>
        
    </div>    
</div>